// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .article_feature{
        min-height: 170px;
    }
    .add{
        background-color: #6FA8DC;
        min-height: 172px;
        margin-top: 24px;
    }
    .article_listing{
        
    }
    .sidebar_content{
        margin-top: 15px;
        min-height: 150px;
    }
    
    .padding-right{
        padding-left: 0px !important;
    }
    
    .sidebar_feature{
        min-height: 100px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}