header,footer{
    background-color: #9FC5F8;
    min-height: 100px;
}

.common_bg{
    background-color: #9FC5F8;
}

.header_common_style{
    background-color: #CFE2FB;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.common_content_height{
    min-height: 500px;
}

.common_content_style{
    background-color: #CFE2FB;
    min-height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar_content{
    overflow: hidden;
}

.sidebar_feature{
    background-color: #CFE2FB;
    min-height: 450px;
    margin: 20px;
}

.padding-right-disable{
    padding-right: 0px;
}

.hero_common_style{
    background-color: #CFE2FB;
    min-height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}


#hero, #content, footer{
    margin-top: 15px;
    margin-bottom: 15px;
}



.add{
    background-color: #6FA8DC;
    min-height: 200px;
}